[Desktop Entry]
Version=4.2
Encoding=UTF-8
Name=CaFePOS
Terminal=false
Exec=cafepos
Icon=cafepos
Type=Application
InitialPreference=6
Categories=Application;Office;
StartupNotify=false
GenericName=CaFePOS
Comment=CaFePOS Punto de Venta Táctil
Name[en_US]=CaFePOS
GenericName[en_US]=CaFePOS